@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.wrapper-cadastro-endereco {
    width: 58%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;

}

.wrapper-cadastro-endereco>h1 {
    font-size: 36px;
    text-align: center;
}


.sub-container-cadastro-endereco {
    display: flex;
    
    margin-bottom: 2%;
   
}

.input-box-cadastro-endereco {

    
    width: 30%;
}

.input-box-cadastro-endereco input {

    height: 10px;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 20px 20px 20px;
}

.input-box-cadastro-endereco input::placeholder {
    color: #fff;
}

.cep,
.rua,
.numero,
.cidade,
.bairro,
.uf,
.referencia {
   
    width: auto;
    display: inline-block;
   
    

}

.cep input {
    width: 63%;

    position: relative;
}

.rua input {
    width: 180%;

    position: relative;
}
.cidade input{
width: 100%;
margin-left: 5%;
}
.bairro input{
    width: 100%;
}
.numero input {
    width: 63%;
    margin-left: 85%;
}

.uf input {
    margin-left:10%;
    width: 50%;
}

.referencia input {
    width: 200%;
}

.container-cadastro-endereco {

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("../../img/fundo-telas-credenciais-2.png");

    background-size: cover;
    background-position: top;

}


.btnCriar {
    text-align: center;
}